* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: url(../sources/fondo.jpg) fixed;
}

/* aside style */

.target {
    transition: left .7s;
}

.nav-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 3%;
    height: 100%;
    background-color: #e7e7e796;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    z-index: 10;
    transition: left .7s;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button.change {
    left: 25%;
}

.nav-button i {
    transition: transform .7s;
}

.nav-button.change i {
    transform: rotate(180deg);
}

aside {
    width: 25%;
    height: 100%;
    background-color: #e7e7e796;
    position: fixed;
    left: -25%;
    z-index: 10;
}

aside.change {
    left: 0;
}

aside nav {
    height: 100%;
}

aside ul {
    box-sizing: border-box;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10%;
}

aside a {
    color: #000;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-size: 60px;
    font-weight: bold;
}

aside i {
    margin: auto;
}

/* main */

main {
    width: 100%;
    height: 100%;
    padding: 1% 5%;
    box-sizing: border-box;
}

#games-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 5%;
}

.game-card {
    justify-self: center;
    align-self: center;
    width: 500px;
    min-width: 250px;
    height: 300px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-img {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: inherit;
}

.game-card:hover .game-img {
    filter: blur(10px);
    transition: .5s;
}

.game-title {
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

.game-title.hover {
    transform: scale(0);
    transition: transform 1s;
}

.game-card:hover .game-title.hover {
    transform: scale(1);
}

#tetris .game-title {
    color: #fff;
}

.locked .game-title {
    color: #f00;
}

.locked .game-img{
    border-radius: 100%;
}

/* responsive */

@media (max-width: 2000px) {
    .game-card {
        width: 400px;
        height: 250px;
    }

    .game-title {
        font-size: 30px;
    }

    aside a{
        font-size: 50px;
    }
}

@media (max-width: 1600px) {
    .game-card {
        width: 350px;
        height: 200px;
    }

    aside a{
        font-size: 40px;
    }
}

@media (max-width: 1400px) {
    .game-card {
        width: 300px;
        height: 180px;
    }

    .game-title {
        font-size: 20px;
    }

    aside a{
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .game-card {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 1000px) {
    #games-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 10px;
    }

    aside a{
        font-size: 20px;
    }
}

@media (max-width: 700px){
    .nav-button{
        width: 100%;
        height: 5%;
        left: 0;
        top: 0;
    }
    .nav-button.change{
        top: 95%;
        left: 0;
    }

    .nav-button i{
        transform: rotate(90deg);
    }

    .nav-button.change i{
        transform: rotate(270deg);
    }

    aside{
        width: 100%;
        height: 95%;
        top: -95%;
        left: 0;
    }

    aside.change{
        top: 0;
    }

    aside ul{
        padding: 10%;
        align-items: center;
    }

    aside a{
        font-size: 30px;
    }

    main{
        padding: 7%;
    }


}