*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.state{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    font-size: 6vh;
}

.btn-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.opcion{
    width: 17vw;
    height: 17vw;
    background-color: #444;
}

.opcion.celeste{
    background-color: #7fffd4;
}

.opcion.verde{
    background-color: #0f0;
}

.opcion.rojo{
    background-color: #f00;
}

.result-container{
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.results{
    font-size: 4vh;
}

#btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15vh;
    width: 35vw;
    height: 10vh;
    background-color: #00ffff;
    border: none;
    border-radius: 5vh;
    font-size: 5vh;
}
