*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.opcion-tablero{
    width: 100px;
    height: 100px;
    border: 3px solid;
    box-sizing: border-box;
}

.opcion-tablero.x::after{
    content: 'X';
    font-size: 80px;
    position: absolute;
    transform: translateX(20px);
}

.opcion-tablero.o::after{
    content: 'O';
    font-size: 80px;
    position: absolute;
    transform: translateX(20px);
}

.mensaje-resultado{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #000;
    color: #fff;
    position: absolute;
}

.resultado-title{
    font-size: 30px;
    text-decoration: underline;
}

#points{
    font-size: 20px;
}

.resultado-btn{
    width: 150px;
    height: 40px;
    font-size: 25px;
    background-color: #fff
}

.resultado-btn:hover{
    background-color: #89cfeb;
    cursor: pointer;
}

/* responsive */
@media (max-width: 500px) {
    .game-container{
        width: 210px;
        height: 210px;
    }
    .opcion-tablero{
        width: 70px;
        height: 70px;
    }
    .opcion-tablero.x::after{
        font-size: 60px;
        transform: translateX(12px);
    }
    .opcion-tablero.o::after{
        font-size: 60px;
        transform: translateX(10px);
    }
    .mensaje-resultado{
        width: 210px;
        height: 210px;
    }
}

@media (max-width: 400px) {
    .game-container{
        width: 180px;
        height: 180px;
    }
    .opcion-tablero{
        width: 60px;
        height: 60px;
    }
    .opcion-tablero.x::after{
        font-size: 50px;
        transform: translateX(11px);
    }
    .opcion-tablero.o::after{
        font-size: 50px;
        transform: translateX(8px);
    }
    .mensaje-resultado{
        width: 180px;
        height: 180px;
    }
}