@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    background: no-repeat center /100% 100% url(./sources/fondo.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Página inicio */

#inicio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transform: scale(0);
    transition: transform 2s, color .5s;
    font-family: 'Bebas Neue', cursive;
}

#inicio.underline {
    text-decoration: underline;
}

/* Página login-registro */

#identify-container {
    display: none;
    position: absolute;
    width: 800px;
    height: 800px;
    overflow: hidden;
    background-color: #000000b3;
}

#identify-container div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 1s;
}

#identify-container h2 {
    color: #fff;
    font-size: 70px;
}

#identify-container input {
    height: 80px;
    width: 500px;
    padding-left: 20px;
    background-color: transparent;
    border: 5px solid #00a;
    border-radius: 20px;
    color: #fff;
    outline: none;
    font-size: 30px;
    letter-spacing: 2px;
}

#identify-container input::placeholder {
    color: #aaa;
}

#identify-container input:focus {
    border-color: #11f;
}

#identify-container button {
    width: 520px;
    height: 80px;
    background-color: #00f;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
}

#identify-container button:hover {
    background-color: #22f;
}

#identify-container button:active {
    background-color: #00f;
}

#identify-container p {
    color: #fff;
    font-size: 30px;
}

#identify-container a {
    color: #fff;
}

#identify-container a:hover {
    color: #aaa;
}

#login {
    row-gap: 2rem;
    left: 0;
}

#register {
    row-gap: 1rem;
    left: 800px;
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

/* responsive */

@media (max-width: 1800px) {

    #identify-container {
        width: 600px;
        height: 600px;
    }

    #identify-container h2 {
        font-size: 50px;
    }

    #identify-container input {
        height: 3rem;
        width: 30rem;
        font-size: 1.1rem;
    }

    #identify-container button {
        width: 31rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }

    #identify-container p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1400px) {

    #inicio {
        font-size: 1rem;
    }

    #identify-container {
        width: 400px;
        height: 400px;
    }

    #identify-container h2 {
        font-size: 35px;
    }

    #identify-container input {
        height: 2rem;
        width: 20rem;
        font-size: .7rem;
        border-width: 3px;
        border-radius: 10px;
    }

    #identify-container button {
        width: 21rem;
        height: 2rem;
        font-size: 1rem;
    }

    #identify-container p {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {

    #inicio {
        font-size: 3vw;
    }

    #identify-container {
        width: 70vw;
        height: 70vw;
    }

    #identify-container h2 {
        font-size: 7vw;
    }

    #identify-container input {
        width: 50vw;
        height: 7vw;
        font-size: 4vw;
    }

    #identify-container button {
        width: 52vw;
        height: 7vw;
        font-size: 5vw;
    }

    #identify-container p {
        font-size: 3vw;
    }

    #login {
        row-gap: 4vw;
    }

    #register {
        row-gap: 2vw;
    }
}